<section id="csr">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-4">
        <img src="/images/csr/csr_banner.svg" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="col-md-8 text-end">
        <h2>Join your hands with ours under CSR Initative</h2>
        <h5 class="text-danger">
          We are registered entity with Ministry of Corporate Affairs for undertaking CSR Activities.
        </h5>
        <h5 class="text-primary">
          Funding for Palliative Care is covered under clause (i) of Schedule VII of Companies Act 2013.
        </h5>
        <p class="mt-3">
          Cancer, as we all know, is a dreadful disease. Unless it is detected very early and appropriately treated,
          prognosis is not very bright in most cases. Treatment is long, expensive and is usually accompanied by host of
          distressing symptoms, physical, psychosocial, emotional and spiritual as well. The entire family, as a unit, is
          drained financially and emotionally. If the patient is poor or young in age, problems get further compounded. The
          journey from detection of the disease, through its treatment, remission, re-occurrence, re-treatment, end-of-life
          stage and finally death…all of it is full of physical, psychological, emotional and spiritual struggles.
        </p>
        <p style="font-size: 1.1em">Join us in transcening the sufferings of those affected.</p>
        <a href="#" class="btn btn-success">Start CSR Project with us</a>
      </div>
    </div>
    <div class="text-center mt-5">
      <h3>Companies who have already joined us and are serving the society through us</h3>
      <img src="/images/csr/dinshaws_logo.png" alt="" style="width: 100px; height: 100px; padding: 10px" />
      <img src="/images/csr/berger_paints_logo.png" alt="" style="width: 100px; height: 100px; padding: 10px" />
      <img src="/images/csr/tata_trusts_logo.png" alt="" style="width: 100px; height: 100px; padding: 10px" />
    </div>
  </div>
</section>

<div class="text-center my-3">
  <img src="/images/section-divider.svg" alt="" height="75" width="250" />
</div>

<section id="payroll-giving">
  <div class="container mb-5">
    <div class="row mt-5 text-start">
      <div class="col-md-8">
        <h5 class="card-title display-6">Start Payroll giving</h5>
        <p>
          Payroll Giving is a flexible scheme which offers employees to give regularly to the charities and causes dear to
          them. Employees can choose to support any charity of their choice with a regular donation direct from their monthly
          pay. Payroll Giving offers employees to their bit for the social concerns which touch their hearts whilst at the
          same time conveying that the corporate they work for is a socially responsible business enterprise. Corporates may
          consider encouraging their employees to support Snehaanchal via the Payroll Giving route. Donors will be entitled
          to tax benefits as provided under section 80G of Income Tax Act 1961. Corporates may also consider donating
          matching amounts as are donated by employees in total.
        </p>
        <a href="#" class="btn btn-success">Start</a>
      </div>
      <div class="col-md-4">
        <img src="/images/csr/payroll_giving.svg" alt="" style="width: 100%; height: 100%" />
      </div>
    </div>
  </div>
</section>
<section id="palliative">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="text-center">What is Palliative care?</h3>
        <p style="font-size: 1.1em">
          Palliative Care is provided by a multi-disciplinary team of palliative care doctors, nurses, physiotherapists,
          psychologists and social workers. This team works in tandem with the treating doctor to provide an extra layer of
          support. Palliative Care and the medical sub-speciality of Palliative Medicine focuses on providing relief from:
        </p>
        <ul>
          <li>Physical distress such as pain, nausea, constipation</li>
          <li>Psychological distress such as anger, fear, depression, anxiety</li>
          <li>Psychosocial distress such as loneliness, abandonment</li>
          <li>Emotional distress caused by hate, guilt, lack of love, desire to express love</li>
          <li>Spiritual distress caused by questions pertaining to God, transcendence, after-life</li>
        </ul>
        <p style="font-size: 1.1em">
          Palliative care is the relieving or soothing of symptoms of a disease or disorder while maintaining the highest
          possible quality of life for patients. Many people mistakenly believe you receive palliative care only when you
          can&rsquo;t be cured. Actually, palliative medicine can be provided by one doctor while other doctors work with you
          to cure your illness. Palliative care is for people of any age and at any stage in an illness, whether that illness
          is curable, chronic, or life-threatening.
          <br /><br />
          If you or a loved one is suffering from symptoms of a disease or disorder, be sure to ask your current physician
          for a referral for a palliative care consult. Palliative care providers are interested in what is bothering you and
          what is important to you. They want to know how you and your loved ones are doing day-to-day. They understand that
          your illness affects not just you, but also those you love. Your palliative care providers will ask questions about
          how your illness affects your emotions and spirit. Then they will try to make sure that your medical care meets
          your goals for your body, mind, and spirit. They will also help you make future plans around your health and
          medical care. You might see a palliative care provider just once or maybe more often. He or she will work with your
          other doctors to give you the best care possible. Palliative care may help you and your loved ones better
          understand your illness, talk more openly about your feelings, or decide what treatment you want or do not want. It
          can also help with communication among your doctors, nurses, and loved ones.
        </p>
      </div>
      <div class="col-md-5 bg-white">
        <img
          class="my-3"
          src="/images/palliative.svg"
          style="height: 25%; width: 100%"
          data-aos="zoom-in"
          data-aos-easing="linear"
          alt=""
        />
        <h3 class="text-center">FAQ's on Palliative care</h3>
        <div class="accordion" id="FAQ_accordian">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <span class="p-3" style="font-size: 1.5em">#1</span> Shouldnt all my doctors be concerned with alleviating my
                suffering and improving my quality of life?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#FAQ_accordian"
            >
              <div class="accordion-body">
                <strong>Yes</strong>, of course. But palliative doctors have special training and expertise in pain
                management and symptom control and specialize in helping patients and their families cope with the many
                burdens of a serious illness, from the side effects of a medical treatment to caregiver stress to fears about
                the future. Palliative doctors can assist you with difficult medical decisions, helping you weigh the pros
                and cons of various treatments.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <span class="p-3" style="font-size: 1.5em">#2</span> If I receive palliative or hospice care, will I still be
                able to see my personal doctor?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#FAQ_accordian"
            >
              <div class="accordion-body">
                <strong>Absolutely.</strong> Your
                <a href="http://palliativedoctors.org/palliative/palliative-doctor" target="_blank">palliative doctor</a>
                coordinates care with your other doctors and helps you navigate the often complex healthcare system.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <span class="p-3" style="font-size: 1.5em">#3</span> If I agree to palliative care, does that mean I am
                "giving up"?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#FAQ_accordian"
            >
              <div class="accordion-body">
                <strong>Not at all</strong>. The goal of
                <a href="http://palliativedoctors.org/palliative/palliative-care" target="_blank">palliative care</a> is to
                make you comfortable and help you achieve the best possible quality of life. You can have palliative care
                while you are undergoing treatments that may cure or reverse the effects of your illness. In fact, palliative
                care can help you cope with aggressive treatments by getting your pain and symptoms under control, somewhat
                easing your fight with the disease.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-3">
        <h3 class="text-center">What they said</h3>
        <!-- Slider main container -->
        <div class="swiper-container slider-tests" style="height: 400px">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="card text-center mx-auto my-auto" style="width: 100%; height: 100%">
                <div class="card-body">
                  <p class="p-3">
                    मैं आज घर जा रहा हूं। परमात्मा आप सभी लोगों की रक्षा करे और मेरी सेवा के लिए धन्यवाद। मैं आप सभी लोगों को
                    कभी नहीं भूलूंगा। आप जैसे लोग जीवन में बहुत कम मिलते हैं। मैं अगर ठीक हो गया तो आप सभी लोगों से मिलने
                    जरूर आऊंगा। सभी सिस्टर को मेरा बहुत बड़ा धन्यवाद और डॉक्टर मैडम को भी बहुत बड़ा धन्यवाद।
                  </p>
                  <h6><strong>A Patient</strong></h6>
                  <small class="card-text">Nagpur</small>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card text-center mx-auto" style="width: 100%; height: 100%">
                <div class="card-body">
                  <p class="p-3">
                    माझं नाव चैताली प्रकाश सोनटक्के आहे. मी आठव्या वर्गातली विद्यार्थिनी आहे. मला अभ्यास करायला खूप आवडतं.
                    माझा आवडता विषय मराठी आहे. माझा आवडता छंद संगीत आणि ड्रॉइंग आहे. रांगोळी मध्ये पण मला खूप आवड आहे. माझे
                    मम्मी पप्पा माझ्या करता खूप मेहनत करतात म्हणून मी माझ्या मम्मी पप्पा चे खूप आदर करते. त्यांचं स्वप्न की
                    मी डॉक्टर बनाव. म्हणून मी खूप अभ्यास करते. मी Snehaanchal ला येते तर मला असं वाटत नाही की मी दवाखान्यात
                    आली आहे. असं वाटतं की मी माझ्या फॅमिली मध्येच आली आहे. मला सगळे इतकं प्रेम करतात. मॅडम, सर आणि पूर्ण
                    स्टाफ खूप छान आहे, म्हणून माझ्या कडून सर्वांना I Love You.
                  </p>
                  <h6><strong>Chaitali Sontakke</strong></h6>
                  <small class="card-text">Nagpur</small>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card text-center mx-auto" style="width: 100%; height: 100%">
                <div class="card-body">
                  <p class="p-3">
                    मी, शुभम घारपेंडे, रा. वाठोडा, नागपुर. मी ३ वर्षापासून कँसर या आजाराने त्रस्त आहे. सर्व प्रकारचे उपचार
                    करुन झाल्यानंतर डाॅक्टरांनी सांगितले कि आता फक्त वेदना कमी करण्यासाठी आपण उपचार करु शकतो. तेव्हा
                    'स्नेहांचल' बद्दल कळले. की माझ्या सारख्या गरिब रुग्णांसाठी 'स्नेहांचल' एक वरदान आहे. इथे वेदनाशामक उपचार
                    होतात. इथला उपचार पूर्णपणे मोफत उपलब्ध आहे. इथे रूग्णांच्या शारिरीक वेदना तर कमी होते. शिवाय इथल्या
                    सकारात्मक वातावरणामुळे रुग्णांच्या मानसिकतेत ही बदल घडतो. काही रुग्णांना बाहेरुन जखम झाली असते तर त्यांना
                    वेळोवेळी ड्रेसिंग ची आवश्यकता असते. अशा रुग्णांची काळजीपूर्वक ड्रेसिंग करुन दिली जाते. 'स्नेहांचल' ची मला
                    आतापर्यंत खूप मदत झाली. मी 'स्नेहांचल' चा खुप खुप ऋणी आहे. व अशा संस्था प्रत्येक शहरात असणे आवश्यक आहे.
                  </p>
                  <h6><strong>Shubham Gharpende</strong></h6>
                  <small class="card-text">Wathoda, Nagpur</small>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <h3 class="text-center">A short clip about us</h3>
        <iframe <!-- src="https://www.youtube.com/embed/B1BIN7NXtVQ" -->
          loading="lazy" width="100%" height="400" style="border: 2px solid black" title="A short clip about Snehaanchal"
          frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen ></iframe
        >
      </div>
    </div>
  </div>
</section>

<div class="text-center my-3">
  <img src="/images/section-divider.svg" alt="" height="75" width="250" />
</div>

<div style="border: 1px solid; border-radius: 15px; margin: 0 50px; padding: 10px">
  <p style="font-family: monospace;font-size: 1.1em">
    Snehaanchal is a registered public charitable trust with Reg. No. <strong>E-1940 [Nagpur].</strong> <br />
    All donations to ‘Snehaanchal’ are exempted from Tax under section 80G of the Income Tax Act 1961 vide <strong>CIT-1 / 80-G / S-216 / 2007-08 Dt. 21-06-2007</strong> as per provisions set out therein. <br />
  </p>
  <hr>
  <p style="font-family: monospace; font-size: 1.1em">
    PAN of Snehaanchal: <strong>AAGTS1699R</strong> <br />
    Bank Account details are as follows.<br />
    <strong>Snehaanchal,</strong> <br />
    Union Bank of India <br />
    Katol Road <br />
    Nagpur 440 013 <br />
    Account No - <strong>458101010036037</strong> <br />
    IFSC - <strong>UBIN0545813</strong> MICR - <strong> 440026007 </strong><br />
    <hr>
    <a href="" class="btn btn-success">Donate online</a>
    <p>Alternatively, you can donate in kind as well (like groceries, medicines, beds etc.).  Contact us to know our needs</p>
  </p>
</div>