<section id="nursing">
  <div class="container mb-5">
    <h1>Nursing Aids</h1>
    <p style="font-size: 1.1.em">
      Snehaanchal offers a free 9 month course for training Nursing Assistants. The course comprises of three months of
      theory classes and 6 months of practical training, spread between our hospice and other general hospitals of Nagpur.<br />
      Currently, the course is being run in collaboration with Yuva Parivartan, a project of Kherwadi Social Welfare
      Association, Mumbai. Certification/Diploma is provided by National Skill Development Corporation, a Govt. of India
      initiative. <br />
      Students have to pass an oral and written exam after which Diploma Certificates are awarded. Two batches, each of 12
      students, are run per year. Batches start in January & July. <br />
      Minimum Qualification required is 10th Class Passed. Those who have cleared 12th Class or have appeared for 12th but
      failed, are given preference. Those qualifying the course find placement at Snehaanchal in case a vacancy exists or
      else find placements in other medical institutions.
    </p>
  </div>
</section>
